@model List<CRUDWebApplication.Models.TaskbookModel>
@{
    int count = 0;
}
<html>
<head>
    <link href="~/css/taskbook.css" rel="stylesheet" />
</head>
<body>
    <form>
        <div>
            <h1 align="center">Task View</h1><br />
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Assigned From</th>
                        <th>Assigned To</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var taskbook in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@taskbook.Name</td>
                            <td>@taskbook.Assignedfrom</td>
                            <td>@taskbook.Assignedto</td>
                            <td>@taskbook.Assigneddate.ToString("dd/MM/yyyy")</td>
                            <td>@taskbook.Status</td>
                            <td>
                                <a href="TaskbookEdit/@taskbook.Id">
                                    <button type="button" class="btn btn-primary">Edit</button>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>
