@model List<CRUDWebApplication.Models.UserModel>

<html>
<head>
    <style>
        table{
            width: 100%;
        }

        td, th {
            width:13%;
            padding: 8px;
            border: 1.5px solid #000000;
        }

        th{
            background-color:#00bdf7;
        }

        input[type=button] {
            background-color: #17a2b89e;
            border-radius: 5px;
            padding: 3px 13px;
        }
    </style>
</head>
<body>
    <form>
        <div>
            <h1 align="center">User View</h1><br />
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Date of birth</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model)
                    {
                        int count = 0;
                        count++;
                        if (user == null)
                        {
                            <tr>No data to display</tr>                            
                        }
                        else
                        {
                            <tr>
                                <td>@count</td>
                                <td>@user.Name</td>
                                <td>@user.Dateofbirth.ToString("dd/MM/yyyy")</td>
                                <td>@user.Phone</td>
                                <td>@user.Address</td>
                                <td>@user.Email</td>
                                <td>@user.Password</td>
                                <td>
                                    <a href="UserEdit/@user.Id">
                                        <input type="button" value="Edit" />
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>                
		    </table>
        </div>
    </form>
</body>
</html>
