@model TurfCourtsBooking.Models.VenueModel

@{
    var registrationErrorMessage = TempData["registrationErrorMessage"]?.ToString();
}
<html>
<head>
    <link href="~/Content/custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        function check() {
            var status = document.getElementById("Venuestatus").value;
            if (status == "") {
                alert("Please select venue status!");
                return;
            } else {
                var form = document.getElementById("VenueForm");
                form.submit();
            }
        }
    </script>
</head>
<body>
    <form id="VenueForm" style="justify-content: center; display: flex;" method="post" action="~/Venue/VenueEdit">
        @if (!string.IsNullOrWhiteSpace(registrationErrorMessage))
        {
            <div class="alert alert-dismissible alert-danger" style="margin-top: 20px" role="alert">
                <strong>@registrationErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <div class="form-design">
        <h1 class="form-heading">Venue Edit</h1>

        <input type="hidden" name="Id" value="@Model.Id" />

        <div>
            <label>Enter Venue Name:</label>
            <input type="text" class="form-control" id="Venuename" name="Venuename" placeholder="Venue Name" value="@Model.Venuename" required />
        </div>

        <div>
            <label>Select Type Of Turf:</label>
            <input type="text" class="form-control" id="Turftype" name="Turftype" value="@Model.Turftype" readonly />
        </div>

        <div>
            <label>Venue Status:</label>
            <select id="Venuestatus" name="Venuestatus" asp-for="Venuestatus" value="@Model.Venuestatus" required>
                <option value="" disabled selected>select your option</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
        </div>

        <button type="button" onclick="check();" class="login-submit">Update Venue</button>
    </div>
    </form>
</body>
</html>
