@model IEnumerable<CRUDWebApplication.Models.SPTaskbookModel>

@{
    var addSuccessMessage = TempData["addSuccessMessage"]?.ToString();
    var updateErrorMessage = TempData["updateErrorMessage"]?.ToString();
    var updateSuccessMessage = TempData["updateSuccessMessage"]?.ToString();
    var deleteErrorMessage = TempData["deleteErrorMessage"]?.ToString();
    var deleteSuccessMessage = TempData["deleteSuccessMessage"]?.ToString();
    int count = 0;
}

<html>
<head>
    <link href="~/css/taskbook.css" rel="stylesheet" />
</head>
<body>
    <form>
        <div>
            @if (!string.IsNullOrWhiteSpace(addSuccessMessage))
            {
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>@addSuccessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else if (!string.IsNullOrWhiteSpace(updateErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>@updateErrorMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else if (!string.IsNullOrWhiteSpace(updateSuccessMessage))
            {
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>@updateSuccessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else if (!string.IsNullOrWhiteSpace(deleteErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>@deleteErrorMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else if (!string.IsNullOrWhiteSpace(deleteSuccessMessage))
            {
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>@deleteSuccessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <h1 align="center">SPTask View</h1><br />
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Assigned From</th>
                        <th>Assigned To</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var taskbook in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@taskbook.Name</td>
                                <td>@taskbook.Assignedfrom</td>
                                <td>@taskbook.Assignedto</td>
                                <td>@taskbook.Assigneddate.ToString("dd/MM/yyyy")</td>
                                <td>@taskbook.Status</td>
                                <td>
                                    <button type="submit" class="btn btn-primary" asp-controller="SPTaskbook" asp-action="TaskbookEdit" asp-route-Id="@taskbook.Id">Edit</button>
                                    <button type="submit" class="btn btn-danger" asp-controller="SPTaskbook" asp-action="TaskbookDelete" asp-route-Id="@taskbook.Id">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">
                                <div>
                                    No data found!
                                </div>
                            </td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>
