@model TurfCourtsBooking.MultiViewModel.TurfViewAndAddUserDetails

@{
    var registrationErrorMessage = TempData["registrationErrorMessage"]?.ToString();
    var userDate = Convert.ToDateTime(TempData["userDate"]).Date.ToString("dd-MM-yyyy");
    var Turftype = TempData["Turftype"]?.ToString();
    List<string> slots = new List<string>();
    foreach (var checklist in Model.turfBookingModel)
    {
        slots.Add(checklist.Slots);
    }
    string result = "";
    for (int i = 0; i < slots.Count; i++)
    {
        result = result + slots[i] + ",";
    }
    string[] slotsList = result.Split(',');
}

<html>
<head>
    <link href="~/Content/custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        function checkSlot() {
            var sport = document.getElementById("Sport").value;            
            if (sport == "select your option") {
                alert("Please select a sport!");
                return;
            } else {
                var result = 0;
                var checkboxes = document.getElementsByName('SlotId');
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked) {
                        result++;
                    }
                }
                if (result > 0) {
                    var form = document.getElementById("trufregisterForm");
                    form.submit();
                } else {
                    alert("Please select a time slot!");
                    return;
                }
            }
        }
    </script>
</head>
<body>
    <form id="trufregisterForm" style="display: flex; justify-content: center;" method="post" action="RegistrationAdd">
        <div class="form-design">
            @if (!string.IsNullOrWhiteSpace(registrationErrorMessage))
            {
                <div class="alert alert-dismissible alert-danger" style="margin-top: 20px" role="alert">
                    <strong>@registrationErrorMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <h1 class="form-heading">Truf Booking</h1>

            <input type="hidden" id="Turftype" name="Turftype" value="@Turftype" />

            <div>
                <label>UserName:</label>
                <input type="text" class="form-control" id="Username" name="Username" value="@Model.userModel.Name" readonly />
            </div>

            <div>
                <label>Phone Number:</label>
                <input type="tel" class="form-control" id="Phone" name="Phone" value="@Model.userModel.Phone" readonly />
            </div>

            <div>
                <label>Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" value="@Model.userModel.Email" readonly />
            </div>

            <div>
                <label>Booking Date:</label>
                <input type="text" class="form-control" id="Date" name="Date" value="@userDate" readonly />
            </div>

            <div>
                <label>Select Sport:</label>
                <select id="Sport" name="Sport" asp-for="Sport" required>
                    <option disabled selected>select your option</option>
                    @foreach (var sport in Model.sportModel)
                    {
                        <option value="@sport.Name">@sport.Name</option>
                    }
                </select>
            </div>

            <label>Select Time Slot:</label>
            <div class="checkbox-container">
                @foreach (var timeSlot in Model.timeSlotModel)
                {
                    if (slotsList.Contains(timeSlot.SlotTime.ToString()))
                    {
                        <div class="checkbox-notselect check">
                            <label>
                                <input type="checkbox" readonly><span>@timeSlot.SlotTime</span>
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="checkbox history">
                            <label>
                                <input type="checkbox" id="SlotId" name="SlotId" value="@timeSlot.SlotTime"><span>@timeSlot.SlotTime</span>
                            </label>
                        </div>
                    }
                }
            </div>

            <button type="button" onclick="checkSlot();" class="login-submit">Book Turf</button>
        </div>
    </form>
</body>
</html>