@model TurfCourtsBooking.MultiViewModel.TurfViewAndAddUserDetails

@{
    int count = 0;
    List<string> checkStartDate = new List<string>();
    List<string> checkEndDate = new List<string>();
    foreach (var holidaylist in Model.holidayModel)
    {
        checkStartDate.Add(Convert.ToDateTime(holidaylist.StartDate).Date.ToString("yyyy-MM-dd"));
        checkEndDate.Add(Convert.ToDateTime(holidaylist.EndDate).Date.ToString("yyyy-MM-dd"));
    }
}
<html>
<head>
    <link href="~/Content/custom1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;            
            var Dates = document.getElementsByName('Date');
            for (var i = 0; i < Dates.length; i++) {
                $('.Date').attr('min', today);
            }
        }
        function dateCheck(checkcount) {
            var count = checkcount;
            var type = document.getElementsByName("Turftype")[count - 1].value;
            var checkDate = document.getElementsByName("Date")[count - 1].value;
            var convertstartdate = '@Html.Raw(Json.Encode(checkStartDate))';
            var convertenddate = '@Html.Raw(Json.Encode(checkEndDate))';
            var DbStartDate = JSON.parse(convertstartdate);
            var DbEndDate = JSON.parse(convertenddate);

            if (!checkDate) {
                alert("Please select a date!");
                return;
            } else {
                if (type != "Outdoor Turf") {
                    var form = document.getElementsByName("dateCheckForm")[count - 1];
                    form.submit();
                } else {
                    var checkStartTimeExist = isBetween(checkDate, DbStartDate, DbEndDate);
                    if (checkStartTimeExist == false) {
                        var text ="";
                        for (var i = 0; i < DbStartDate.length; i++) {
                            text += DbStartDate[i] + " <--> " + DbEndDate[i] + "\n";
                        }
                        alert("Booking of outdoor turf is not permitted during these period!\n" + text);
                        return;
                    } else {
                        var form = document.getElementsByName("dateCheckForm")[count - 1];
                        form.submit();
                    }
                }
            }
        }
        function isBetween(checkDate, DbStartDate, DbEndDate) {
            var isAvailable;
            for (i = 0; i < DbStartDate.length; i++){
                if (DbStartDate[i] <= checkDate && checkDate <= DbEndDate[i]) {
                    isAvailable = false;
                    break;
                } else {
                    isAvailable = true;
                }
            }
            return isAvailable;
        }
    </script>
</head>
<body>
    <div>
        <h1 class="form-heading">Turf Booking</h1><br />
        <div class="row row-cols-1 row-cols-md-2">
            @foreach (var venue in Model.venueModel)
            {
                count++;
                <div class="col mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img class="img-size" src="https://mdbootstrap.com/img/Photos/Others/images/16.webp" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">@venue.Venuename</h4>
                            <p class="card-text">@venue.Turftype</p>
                            <form id="dateCheckForm" name="dateCheckForm" method="post" action="~/TurfBooking/RegistrationAddView">
                                <input type="hidden" id="Turftype" name="Turftype" value="@venue.Turftype" />
                                <input type="hidden" id="count" name="count" value="@count" />
                                <div>
                                    <label>Select a date:</label>
                                    <input type="date" id="Date" class="Date" name="Date" asp-for="Date" required />
                                </div>
                                <button type="button" class="login-submit" onclick="dateCheck(@count);">Book Turf</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
